.row {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
}

.row_direction-straight {
    flex-direction: row;
}

.row_direction-reverse {
    flex-direction: row-reverse;
}

.column {
    display: flex;
    flex-flow: column nowrap;    
    gap: 32px;
    margin-bottom: 64px;
}

.column:last-child {
    margin-bottom: 0;
}
