.root {
    margin: 60px 0 120px 0;
}

.title {
    color: #555;
    font-style: normal;
    font-weight: 100;
    font-size: 2.5em;
    line-height: 1.17em;
    margin: 0 0 20px;
    text-align: left;
}

.mediaContainer {
    margin-right: 60px;
    max-width: 420px;
    max-height: 420px;
    flex-shrink: 0;
}

.info {
    display: flex;
    overflow: hidden;
    margin-bottom: 60px;
}

.description {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

.description p {
    color: #666;
    line-height: 1.8em;
    margin: 0 0 20px;
}

.image {
    background: #333;
}


.right .info {
    flex-flow: row-reverse;
}

.right .mediaContainer {
    margin-left: 60px;
    margin-right: 0;
}


@media screen and (max-width: 1000px) {
    .root {
        padding: 0 20px;
    }

    .info,
    .right .info {
        flex-flow: column;
        align-items: center;
    }

    .mediaContainer,
    .right .mediaContainer {
        margin: 0;
        margin-bottom: 60px;
    }

    .videoContainer {
        padding-bottom: 100%;
        width: 100%;
        position: relative;
    }

    .videoContainer iframe {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}
