.root {
    width: 100%;
}

.track {
    color: #666;
    line-height: 1.8em;
    margin: 0 0 20px;

    transition: border-color 250ms ease;
    border-bottom: 1px solid rgba(66,66,66,0.2);

    cursor: pointer;
    display: flex;
}

.track:hover,
.isPlaying {
    border-color: rgb(200, 70, 70);
}

.track:hover .number,
.isPlaying .number {
    opacity: 1;
    color: rgb(200, 70, 70);
}

.duration {
    float: right;
}

.number {
    margin-right: 8px;
    opacity: 0.2;
    display: inline-block;
    width: 20px;
    transition: color, opacity 250ms ease;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}
