.track {
    color: #666;
    line-height: 1.8em;
    margin: 0 0 20px;

    border-bottom: 1px solid rgba(66,66,66,0.2);

    cursor: pointer;
}

.duration {
    float: right;
}

.number {
    margin-right: 8px;
    opacity: 0.2;
    display: inline-block;
    width: 20px;
}

.isPlaying .number {
    animation: pulse 3s ease infinite alternate;
}

@keyframes pulse {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 0.8;
    }
}
