* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #fff;
    color: #555;
}

::selection {
    background: #b2daeb;
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}